@use "sass:color";
@font-face {
    font-family: 'VT323';
    src: url('./assets/fonts/VT323-Regular.ttf') format('truetype');
}

// russian font face
@font-face {
    font-family: 'basis33';
    src: url('src/assets/fonts/basis33.ttf') format('truetype');
}

// chinese font face
@font-face {
    font-family: 'GNU_uniform';
    src: url('src/assets/fonts/GNU_uniform.ttf') format('truetype');
}

$windowsGrey: #a8a8a8;
$windowsBorderDark: darken($windowsGrey, 10%);
$windowsBorderLight: lighten($windowsGrey, 10%);

main {
	font-family: VT323;
	font-size: 1.5rem;
}

.russian {
	font-size: 2rem;
	font-family: basis33;
	font-weight: bolder;
}

.chinese {
	font-family: GNU-uniform;
}

.button {
	border-top: 5px solid $windowsBorderLight;
	border-left: 5px solid lighten($windowsBorderLight, 5%);
	border-bottom: 5px solid $windowsBorderDark;
	border-right: 5px solid darken($windowsBorderDark, 5%);
	background: $windowsGrey;
	font-size: 2rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: auto;
	min-width: 150px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;

	&:hover {
		background: lighten($windowsGrey, 5%);
	}

	&:active {
		border-bottom: 5px solid $windowsBorderLight;
		border-right: 5px solid lighten($windowsBorderLight, 5%);
		border-top: 5px solid $windowsBorderDark;
		border-left: 5px solid darken($windowsBorderDark, 5%);
	}
}

.close-button {

}